<div class="container">
  <div class="row p-5">
    <div class="col-md-12">
      <h2 class="text-center mb-4 custom-title">
        I MIGLIORI ALLENATORI IN ITALIA SONO:
      </h2>
      <ul class="list-group custom-list">
        <li
          class="list-group-item custom-list-item"
          *ngFor="let user of usersList"
        >
          {{ user.name }} {{ user.cognome }}
        </li>
      </ul>
    </div>
  </div>

  <div class="row p-5">
    <h2 class="text-center mb-4 custom-title">I MIGLIORI POKEMON NEL CODEX:</h2>
    <div class="col-md-4 mb-4" *ngFor="let pokemon of pokemonList">
      <div class="card h-100 shadow-sm">
        <img
          [src]="pokemon.immagine"
          class="card-img-top img-fluid"
          [alt]="pokemon.nome"
        />
        <div class="card-body d-flex flex-column">
          <h5 class="card-title text-center">{{ pokemon.nome }}</h5>
          <p class="card-text text-center">{{ pokemon.descrizione }}</p>
          <!-- <ul class="list-group list-group-flush mt-auto">
            <li class="list-group-item custom-list-item">
              <strong>Tipo:</strong> {{ pokemon.tipo }}
            </li>
            <li class="list-group-item custom-list-item">
              <strong>Forza:</strong> {{ pokemon.forza }}
            </li>
            <li class="list-group-item custom-list-item">
              <strong>Difesa:</strong> {{ pokemon.difesa }}
            </li>
            <li class="list-group-item custom-list-item">
              <strong>Attacco:</strong> {{ pokemon.attacco }}
            </li>
          </ul> -->
          <div class="mt-auto">
            <button
              (click)="addToFavorites(pokemon)"
              class="btn btn-danger btn-block m-2"
            >
              AGGIUNGI AL CODEX
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-download"
                viewBox="0 0 16 16"
              >
                <path
                  d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"
                />
                <path
                  d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
