<div class="container">
  <div class="row p-5">
    <div class="col-md-12">
      <h2 class="text-center mb-4 custom-title">
        I MIGLIO ALLENATORI IN ITALIA SONO:
      </h2>
      <ul class="list-group custom-list">
        <li
          class="list-group-item custom-list-item"
          *ngFor="let user of usersList"
        >
          {{ user.name }} {{ user.cognome }}
        </li>
      </ul>
    </div>
  </div>

  <div class="row p-5">
    <h2 class="text-center mb-4 custom-title">I MIGLIORI POKEMON NEL CODEX:</h2>
    <div class="col-md-4 mb-4" *ngFor="let pokemon of pokemonList">
      <div class="card h-100 shadow-sm">
        <img
          [src]="pokemon.immagine"
          class="card-img-top img-fluid"
          [alt]="pokemon.nome"
        />
        <div class="card-body d-flex flex-column">
          <h5 class="card-title text-center">{{ pokemon.nome }}</h5>
          <p class="card-text text-center">{{ pokemon.descrizione }}</p>
          <ul class="list-group list-group-flush mt-auto">
            <li class="list-group-item custom-list-item">
              <strong>Tipo:</strong> {{ pokemon.tipo }}
            </li>
            <li class="list-group-item custom-list-item">
              <strong>Forza:</strong> {{ pokemon.forza }}
            </li>
            <li class="list-group-item custom-list-item">
              <strong>Difesa:</strong> {{ pokemon.difesa }}
            </li>
            <li class="list-group-item custom-list-item">
              <strong>Attacco:</strong> {{ pokemon.attacco }}
            </li>
          </ul>
          <div class="mt-auto">
            <button
              (click)="addToFavorites(pokemon)"
              class="btn btn-primary btn-block"
            >
              AGGIUNGI AL CODEX
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
