<div class="container-fluid">
  <div class="row">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/632UwPT4wkg?si=oiVyamcSrjhHCaje"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
    <div class="col-12 text-center py-3">
      <img
        src="https://cdn.worldvectorlogo.com/logos/pokemon-23.svg"
        class="imgpok"
        alt=""
      />
    </div>
  </div>
</div>
